APP_ENV=test
APP_PORT=8080
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pulseos_test
POSTGRES_USER=pulseos
POSTGRES_PASSWORD=pulseos_password
POSTGRES_SSLMODE=disable
REDIS_ADDR=localhost:6379
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=pulseos
MINIO_SECRET_KEY=pulseos_secret
MINIO_BUCKET=pulseos-test
MINIO_USE_SSL=false
AI_PROVIDER=mock
AI_MODEL=placeholder
